@tailwind base;
@tailwind components;
@tailwind utilities;

.mind_project{
    background-image: url('./images/project-banner.bdf88c28.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.footer{
    background: linear-gradient(127deg, #271875, #4949dd 70%);
}