@tailwind base;
@tailwind components;
@tailwind utilities;

.mind_project{
    background-image: url('./images/project-banner.bdf88c28.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.footer{
    background: linear-gradient(127deg, #271875, #4949dd 70%);
}

.footer_copy_right{
    border-top: 1px solid hsla(0, 0%, 100%, .1);
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    position: relative;
    box-shadow: 0 5px 24px 6px rgba(0, 0, 0, .06);
}

.contact_box {
    box-shadow: 0 2px 25px 0 hsl(0deg 0% 0% / 17%);
    background: white;
    padding: 10px;
    border-radius: 5px;
}